[run]
source = flyt
omit =
    flyt/__init__.py
    */tests/*
    */venv/*
    */.venv/*
    */__pycache__/*

[report]
fail_under = 80
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstract
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
